 "<%=name%> your guess, <%=guess%> was correct"

"Do you want to play again? Y/N"
 <form method ="post" action ="/play_again">
    <input type ="text" name ="playagain" style ="text_transform:uppercase" autofocus>
    <input type = "text" name = "user_name" value = <%=name%> hidden>
    <input type = "submit">
</form>