<center><strong> "Congratulations <%=name%> your guess, <%=guess%> was <em>correct</em>" </strong></center>
<center>
"Do you want to play again? Y/N"
</center>

<center><img src="/img/celebrate.jpg"; 
style="height:15rem; width:25rem; border: 8px solid #4682b4;"/></center>

<center>

 <form method ="post" action ="/play_again">
    <input type ="text" name ="playagain" style ="text_transform:uppercase" autofocus>
    <input type = "text" name = "user_name" value = <%=name%> hidden>
    <input type = "submit">
</form>

</center>