<center>Sorry <%=name%>, you have used all of your guesses. The number was <%= target%>.</center>
<br><br>

<center>


<center><img src="/img/10s.jpg"; 
style="height:15rem; width:25rem; border: 8px solid #4682b4;"/></center>
   

<center>

<form method = "post" action ="/continue">
    <!--input type = "text" name = "continue" autofocus>
    <input type = "submit"-->
    continue <br>
    <button name= "continue" type = "submit" value="continue">CONTINUE</button>
    <!--button name= "continue" type = "submit" value="No">2</button-->
</form>

</center>