"Sorry <%=name%>, you have used all of your guesses. The number was #{target}."
<center>Sorry <%=name%>, you have used all of your guesses. The number was <%= target%>.</center>
<br><br>

<center>


<center><img src="/img/10s.jpg"; 
style="height:15rem; width:25rem; border: 6px solid #4682b4;"/></center>
   

<center>

 <form method ="post" action ="/play_again">
    <input type ="text" name ="playagain" style ="text_transform:uppercase" autofocus>
    <input type = "text" name = "user_name" value = <%=name%> hidden>
    <input type = "submit">
</form>

</center>