<body style= "background-color: #c2c2a3;">

<center><em> "<%=name%> That was fun!</em><br>

"Come back and visit us again!"
</center>

<center><img src="/img/thankyou.jpg"; 
style="height:20rem; width:30rem;border: 8px solid #4682b4;"/></center>

 </body>
